body {
  padding-top: 20px;
  padding-bottom: 40px;
}

/* Custom container */
.container-narrow {
  margin: 0 auto;
  max-width: 700px;
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  margin: 60px 0;
  text-align: center;
}
.jumbotron h1 {
  font-size: 72px;
  line-height: 1;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

.media .media-body h4 a {
  color: #000;
}
.media .media-body h4 a:hover {
  text-decoration: none;
}

.arrow {
  background-repeat: no-repeat;
  height: 84px;
  width: 150px;
  position: absolute;
}

.arrow.arrow-demo {
  background-image: url('../img/arrow.png');
  margin-left: -40px;
  margin-top: -70px;
}

.arrow p {
  margin-left: 50px;
  width: 100%;
  font: 400 23px/0.8 'Cookie', Helvetica, sans-serif;
}

.arrow.arrow-demo2 {
  display: none;
  z-index: 2000;
  background-image: url('../img/arrow2.png');
  margin-left: -170px;
  margin-top: -70px;
}

.arrow.arrow-demo2 p {
  z-index: 2000;
  color: #fff;
  margin-top: 67px;
  font-size: 26px;
} 
